.navbar--wrapper{
    display: grid;
    align-items: center;
    justify-items: center;   
    grid-template-columns: minmax(4rem, 10rem) 1fr minmax(4rem, 10rem);
    padding: 1rem;
    z-index: 99999999;
}
.navbar--logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    display: flex;
}

.navbar--cta{
    display: flex;
    justify-content: flex-end;
}