.card-app--wrapper{
    display: grid;
    align-items: start;
    justify-items: stretch;   
    grid-template-columns: 50px 1fr;
    padding: 1rem;
}

.card--app--content{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .action-bar{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
}

.card-app--wrapper:hover{
    transform: scale(1.02);
    transition: 0.1s;
}